*{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
}
body{
    background: #fff;
}
.viewsDiv{
    padding: 40px;
    font-weight: 500;
    display: flex;
    flex-direction: row-reverse;
}
.viewsDiv .img{
    min-width: 300px;
    padding-left: 60px;
}
.viewsDiv .img > img{
    height: 200px;
    width: auto;
}
.img .details > h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.text > h2{
    text-align: center;
}
.text{
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

